main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
.search-box {
    .search-input {
        width: 95%;
        height: 48px;
        background-color: rgb(223, 223, 223);
        border-radius: 20px;
        margin-top: 25px;
        padding: 0 15px;
        color: #333;
        font-size: 20px;
        outline: none;
        transition: all 0.3s ease-in-out;
        &:focus {
            border: 1px solid transparent;
            box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2);
            background-color:#fff;
        }
    }
}
.box-time {
    .hour {
        font-size: 80px;
        font-weight: 300;
        margin: 15px 0 0 0;
        text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    }
    .date {
        margin: -12px 0 0 0;
        font-size: 20px;
    }
}
.box-weather {
    margin: 2em auto;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.452);
    width: 95%;
    border-radius: 8px;
    .city-name-country {
        margin: 16px 0 0 0;
        font-size: 35px;
    }
    .box-temp-icon {
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
        .temDay {
            font-size: 70px;
            font-weight: 100;
        }
        .tempIcon {
            margin-top: 10px;
            margin-right: 20px;
            width: 80px;
            height: 80px;
        }
    }
    .box-max-min {
        text-align: left;
        margin: -15px 45px;
        font-size: 20px;
        .hot{
            margin-right: 25px;
        }
    }
    .description {
        padding: 14px ;
        font-size: 30px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 0;
    }
}
.box-details {
    display: flex;
    justify-content: space-evenly;
    .box-details-3  {
        background-color: rgba(255, 255, 255, 0.452);
        padding: 12px;
        width: 30%;
        border-radius: 8px;
    }

}
.box-details-sun {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
    .box-details-sun2 {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .sunrise {
            width: 30%;
            }
        .boxPlus {
            display: flex;
            justify-content: space-around;
            .plus {
                width: 25%;
                height: 25%;
                filter: invert(100%);
                border-radius: 50%;
                border: 2px solid #000;
                padding: 4px;
                }
            }
            .menos {
                width: 60%;
                height: 60%;
                filter: invert(100%);
                border-radius: 50%;
                border: 2px solid #000;
                padding: 4px;
                }
    }        
}
}
.app {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3))),url('../../assets/bg-day.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.warm {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))),url('../../assets/bg-night.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// _______________________ MEDIA QUERY __________________________

@media (min-width: 451px) and (max-width: 850px) {
    .search-input {
        width: 87% !important;
    }
    .box-weather {
        width: 85% !important;
        .city-name-country {
            font-size: 45px !important;
        }
        .box-temp-icon {
            justify-content: center !important;
        }
        .temDay {
            margin-right: 40px;
        }
        .box-max-min {
            text-align: center !important;
            margin-left: -75px !important;
        }
    }
    .box-details {
        width: 92% !important;
        margin: 0 auto !important;
        justify-content: center !important;
        .box-details-3  {
            width: 30% !important;
            margin: 0 18px !important;
        }
    
    }
    .box-details-sun {
        width: 90% !important;
        margin: 15px auto 0 auto !important;
        .boxPlus {
            .plus {
                padding: 6px !important;
                width: 26% !important;
                height: 26% !important;
            }
            .menos {
                padding: 6px !important;
                width: 60% !important;
                height: 60% !important;
            }
        }
    }
}
@media (min-width: 851px) and (max-width:1850px) {
    .search-box {
        .search-input {
            width: 50% !important;
        }
    }
    .box-weather {
        width: 70% !important;
        .city-name-country {
            font-size: 55px !important;
        }
        .box-temp-icon {
            justify-content: center !important;
        }
        .temDay {
            margin-right: 40px;
        }
        .box-max-min {
            text-align: center !important;
            margin-left: -70px !important;
        }
    }
    .box-details {
        width: 74vw !important;
        margin: 0 auto !important;
        justify-content: center !important;
        .box-details-3  {
            width: 30% !important;
            margin: 0 18px !important;
        }
    
    }
    .box-details-sun {
        width: 75% !important;
        margin: 15px auto 0 auto !important;
        .boxPlus {
            .plus {
                padding: 6px !important;
                width: 11% !important;
                height: 11% !important;
            }
            .menos {
                padding: 6px !important;
                width: 80% !important;
                height: 80% !important;
            }
        }
    }
}
    

@media screen and (min-width: 1851px) {
    .search-box {
        .search-input {
            width: 30% !important;
        }
    }
    .box-weather {
        width: 57% !important;
        .city-name-country {
            font-size: 55px !important;
        }
        .box-temp-icon {
            justify-content: center !important;
        }
        .temDay {
            margin-right: 40px;
        }
        .box-max-min {
            text-align: left !important;
            margin: -15px 410px !important;
        }
    }
    .box-details {
        width: 58.5vw !important;
        margin: 0 auto !important;
        justify-content: center !important;
        .box-details-3  {
            width: 30% !important;
            margin: 0 18px !important;
        }
    
    }
    .box-details-sun {
        width: 63% !important;
        margin: 15px auto 0 auto !important;
        .box-details-sun2 {
            justify-content: baseline !important;
            .sunrise {
                width: 20% !important;
            }
            .sunriseAM {
                margin-left: -100px !important;
            }
          
        }
        .boxPlus {
            .plus {
                padding: 6px !important;
                width: 11% !important;
                height: 11% !important;
            }
            .menos {
                padding: 6px !important;
                width: 80% !important;
                height: 80% !important;
            }
        }
    }
}